/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "admin/application";
//@import "admin/users";
//@import "responsive";

@import "bootstrap-sprockets";
@import "bootstrap";
.page-header {
    position: relative;
    padding-bottom: 0px;

    &:first-child {
        margin-top: 20px;
    }


    h1,h2,h3,h4,h5,h6
    {
        max-width: 55%;
    }
}

ul.actions {
    @extend .list-unstyled;
    @extend .list-inline;
    position: absolute;
    bottom: -2px;
    right: 2px;
    max-width: 45%;
    text-align: right;
}

a.new {
    @extend .btn;
    @extend .btn-success;

    &:before {
        font-family: "FontAwesome";
        @extend .fa-plus;
        padding-right: .5em;
    }
}

a.edit {
    @extend .btn;
    @extend .btn-primary;

    &:before {
        font-family: "FontAwesome";
        @extend .fa-pencil;
        padding-right: 0.5em;
    }
}

a.delete {
    @extend .btn;
    @extend .btn-danger;

    &:before {
        font-family: "FontAwesome";
        @extend .fa-trash;
        padding-right: 0.5em;
    }
}

body {
    padding-top: 70px;
}
